@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    /* background-image:url("../img/pexels-pixabay-70347.jpg"); */
    /* opacity: 0; */
    /* background-size:cover; */
    /* height: 5px; */
    /* width: 100%; */
    margin: 0;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden; /* PARA SUMIR A BARRA DE ROLAGE DA HORIZONTAL*/
}


/* REDES SOCIAIS TOPO */
#contato_topo{
    /* background-color: #324e75; */
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(#e63946 5%,#1d3557); /*degrade */
}

#contato_topo img{
    height: 30px;
    padding: 2px;
    margin-left: 2px;
}

#contato_topo h2{
    color: #1d3557;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);/*Sombra das rede sociais*/
}


.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: #1d3557;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0px;
    z-index: 9999;
}

.logo{
    /* margin-left: 10%; */
    flex: 20%;
    color: white;
    /* border: 2px solid white; */
    text-align: center;
}

.logo h1{
    letter-spacing: 1px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #e63946;
}

.logo h3{
    color: #e63946;
}

/* .menu{ */
 ul{   
    text-align: right;
    padding: 20px;
    flex: 70%;
    /* border: 2px solid white; */
}

/* .menu a, .dropbtn{ */
ul a{        
    color: #e63946;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

ul a:hover{
    border-top: 5px solid black;
    color: aqua;
}

/* .menu a:hover, .dropdown:hover .dropbtn{ */
.dropdown:hover .dropbtn{
    
    /* color: gold; */
    /* background: gold; */
    /* background-image: linear-gradient(#1d3557 #457b9d #e63946); */
    /* border-top: top 4px solid  */
}

#dropbtn{
    background: gold;
    padding: 10px 25px;
    border-radius: 10px;
    z-index: 11;
    /* margin-right: 30%; */
    /* margin-left: 10%; */
}

#dropbtn:hover{
    color: black;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: #457b9d;
    width: 180px;
    /* border: 5px solid gold; */
}

.dropdown-content a{
    color: #e63946;
    display: block;
    text-align: left;
    border: 1px solid black;
    padding: 10px 25px;
    border-radius: 5px;
}

.dropdown-content a:hover{
    color:aqua;
    background: #e63946;
    padding: 10px 25px;
    border-radius: 5px;   
}

.dropdown:hover .dropdown-content{
    display: block;
}

.header{
    height: 600px;
    /* background:#1d3557; */
}

section{
    /* background-image: linear-gradient(#1d3557, #e63946); */
    background: #1d3557;
    padding: 5%;
    /* display: inline-block; */
    margin-top: 80px;
    /* border: 2px solid gold; */
    margin-left: 5%;
    margin-right: 5%;
    /* height: 400px; */
    width: 90%;
    text-align: center;
}

section h2{
    cursor: context-menu;
    height: 100px;
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #e63946;
}
.legenda{
    margin-top: 100px;
}
.servicos{
    display: inline-block;
}

.card{
    border-radius: 50px;
    display: inline-block;
    justify-content: space-around;
    width: 30%;
    padding: 10px;
    margin:1%;
    border: 2px solid gold;
}

.card:hover{
    background: gold;
}

.img{
    display:flex;
    justify-content: space-around;
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */
    /* display: inline-block; */
    /* justify-content: space-around; */
}

/* article{ */
    /* background-image: linear-gradient(#1d3557, #e63946); */
    /* background: #1d3557; */
    /* padding: 5%; */
    /* display: inline-block; */
    /* margin-top: 80px; */
    /* border: 2px solid gold; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* height: 400px; */
    /* width: 90%; */
    /* height: 100%; */
    /* text-align: center; */
/* } */

.Nota{
    /* margin-top: 500px; */
    /* border: 2px solid gold; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    background: #1d3557;
    text-align: center;
    cursor: context-menu;
    /* /height: 100px; */
    /* width: 100%; */
    font-size: 40px;
    /* margin:5px; */
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #e63946;
    /* color: #e63946; */
}

.marte{
    /* background-image: linear-gradient(gold, #e63946, red); */
    margin: 0;
    /* border: 2px solid gold; */
    margin-left: 5%;
    margin-right: 5%;
    /* background: #1d3557; */
    overflow: auto;
    /* border: 2px solid gold; */
    /* width: 405px; */
}

.marte img{
    float: left;
    margin-right: 20px;
}

.marte a{
    /* background: gold; */
    color: #e63946;
    /* border-radius: 20px; */
    padding: 5px;
}

.marte a:hover{
    color:black;
    background-image: linear-gradient(gold, #e63946, red);
    /* background: gold; */
    border-radius: 20px;
    padding: 5px;
}


/* NOSSOS PARCEIROS */

.nossos_parceiros{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 320px;
    margin-left: 35%;
    margin-bottom: 40px;
    /* background-color: #1d3557; */
    box-shadow: 6px 6px 6px #888;

}

.nossos_parceiros h2{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    color: #e63946;
    width: 300px;
}


.parceiros{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-bottom: 45px;
    /* background-color: #1d3557; */
}


.parceiros img{
    height: 100%;
    width: 100%;

}
.parceiro01{
    width: 20%;
    height: 200px;
    background: cover;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 5px;
    overflow: hidden;
    box-shadow: 6px 6px 6px #888;
}
.parceiro02{
    background:white;
    width: 20%;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 5px;
    overflow: hidden;
    box-shadow: 6px 6px 6px #888;

}
.parceiro03{
    background: white;
    width: 20%;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 5px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 6px 6px 6px #888;
}

.parceiro04{
    display: inline-block;
    background:white;
    width: 20%;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 5px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 6px 6px 6px #888;
}


/* RODAPE */

.rodape{
    /* border: 1px solid black; */
    text-align: center;
    /* background-image: linear-gradient(gold, #e63946, red); */
    letter-spacing: 1px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #e63946;
    background-color: #1d3557;
}

.rodape img{
    width: 80px;
    background-size: cover;

}

.zap{
    height: 50px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}



